{% extends "base.html" %}
{% block title %}Cliente{% endblock %}
{% block content %}
<h1>{{ form.instance.pk|yesno:"Editar cliente,Nuevo cliente" }}</h1>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    <label>Nombre</label>
    {{ form.nombre }}
  </div>
  <div>
    <label>Teléfono</label>
    {{ form.telefono }}
  </div>
  <div>
    <label>NIT</label>
    {{ form.nit }}
  </div>

  <div style="margin-top:10px;">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'tienda:cliente_list' %}">Cancelar</a>
  </div>
</form>
{% endblock %}
